# Required by both FastAPI server and MSAL client
AAD_TENANT_ID=your-tenant-id-guid
API_APP_ID=your-api-app-client-id
# api://your-api-app-client-id/access_as_user

# Only needed for client/get_token.py
# CLIENT_APP_ID=your-client-app-id
